.circle {
  width: 120px;
  height: 120px;
  margin: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle_wrapper {
  display: flex;
  flex-direction: row;
}
